# **Assignmernt - Neural Networks**

## **Importing Necessary Libraries**

In [296]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.8.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (13.0.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.24.0)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.0.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.5)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.44.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.5.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0.dev2021122109)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.13.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.35.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.23.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.0.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.11.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.7.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)

In [297]:
!pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.7/dist-packages (2.8.0)

In [298]:
import tensorflow as tf
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score, train_test_split

from keras.models import Sequential
from keras.models import Model
from keras.layers import Conv2D,MaxPooling2D,Dense,Flatten
from tensorflow.keras.optimizers import Adam 


import warnings
warnings.filterwarnings('ignore')

# **1. Forestfires**

PREDICT THE BURNED AREA OF FOREST FIRES WITH NEURAL NETWORKS

**Data:** forestfires

## **Importing Data**

In [299]:
df= pd.read_csv('forestfires.csv')
df

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,daymon,daysat,daysun,daythu,daytue,daywed,monthapr,monthaug,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,small

In [300]:
pd.set_option('display.max_columns',None)

In [301]:
df

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,daymon,daysat,daysun,daythu,daytue,daywed,monthapr,monthaug,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,small

In [302]:
df['month'].value_counts()

aug    184
sep    172
mar     54
jul     32
feb     20
jun     17
oct     15
apr      9
dec      9
jan      2
may      2
nov      1
Name: month, dtype: int64

## **Data Preprocessing**

In [303]:
df['month'] = df['month'].replace({'jan':1,'feb':2,'mar':3,'apr':4,'may':5,'jun':6,'jul':7,'aug':8,'sep':9,'oct':10,'nov':11,'dec':12})
df['day'] = df['day'].replace({'sun':1,'mon':2,'tue':3,'wed':4,'thu':5,'fri':6,'sat':7})
df

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,daymon,daysat,daysun,daythu,daytue,daywed,monthapr,monthaug,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,3,6,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
1,10,3,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,small
2,10,7,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,small
3,3,6,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
4,3,1,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,8,1,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
513,8,1,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
514,8,1,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
515,8,7,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,small
516,11,3,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,small

In [304]:
df.columns

Index(['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'area', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu',
       'daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb',
       'monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov',
       'monthoct', 'monthsep', 'size_category'],
      dtype='object')

In [305]:
dataset = df[['month','day','FFMC','DMC','DC','ISI','temp','RH','wind','rain','area','size_category']]

In [306]:
dataset = dataset.rename({'size_category':'Size'},axis = 1)
dataset

     month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area   Size
0        3    6  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00  small
1       10    3  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00  small
2       10    7  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00  small
3        3    6  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00  small
4        3    1  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00  small
..     ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...    ...
512      8    1  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44  large
513      8    1  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29  large
514      8    1  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16  large
515      8    7  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00  small
516     11    3  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00  small

[517 rows x 12 columns]

In [307]:
le = LabelEncoder()
dataset['Size'] = le.fit_transform(dataset['Size'])

In [308]:
df

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,daymon,daysat,daysun,daythu,daytue,daywed,monthapr,monthaug,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,3,6,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
1,10,3,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,small
2,10,7,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,small
3,3,6,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
4,3,1,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,8,1,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
513,8,1,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
514,8,1,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,large
515,8,7,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,small
516,11,3,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,small

## **Model Building**

In [309]:
x = dataset.drop(labels=['area'], axis=1)
y = dataset[["area"]]

In [310]:
mms = MinMaxScaler()
scaled_x = mms.fit_transform(x)

In [311]:
x_train, x_test, y_train, y_test = train_test_split(scaled_x, y, test_size=0.2, random_state=19)

In [312]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((413, 11), (104, 11), (413, 1), (104, 1))

In [313]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(11,)),
    Dense(64, activation='relu'),
    #Dense(32, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid'),
])

In [314]:
model.compile(optimizer='sgd',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [315]:
hist = model.fit(x_train, y_train,
          batch_size=10, epochs=20,
          validation_data=(x_test,y_test))

Epoch 1/20
42/42 [==============================] - 32s 7ms/step - loss: nan - accuracy: 0.3002 - val_loss: nan - val_accuracy: 0.4904
Epoch 2/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 3/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 4/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 5/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 6/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 7/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 8/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 9/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 10/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 11/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 12/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 13/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 14/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 15/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 16/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 17/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 18/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 19/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 20/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904

## **Model Validation**

In [316]:
model.evaluate(x_test, y_test)[1]

4/4 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4904

0.49038460850715637

# **2. Gas Turbines**

The dataset contains 36733 instances of 11 sensor measures aggregated over one hour (by means of average or sum) from a gas turbine. 
The Dataset includes gas turbine parameters (such as Turbine Inlet Temperature and Compressor Discharge pressure) in addition to the ambient variables.



Problem statement: predicting turbine energy yield (TEY) using ambient variables as features.



Attribute Information:

The explanations of sensor measurements and their brief statistics are given below.

Variable (Abbr.) Unit Min Max Mean

Ambient temperature (AT) C â€“6.23 37.10 17.71

Ambient pressure (AP) mbar 985.85 1036.56 1013.07

Ambient humidity (AH) (%) 24.08 100.20 77.87

Air filter difference pressure (AFDP) mbar 2.09 7.61 3.93

Gas turbine exhaust pressure (GTEP) mbar 17.70 40.72 25.56

Turbine inlet temperature (TIT) C 1000.85 1100.89 1081.43

Turbine after temperature (TAT) C 511.04 550.61 546.16

Compressor discharge pressure (CDP) mbar 9.85 15.16 12.06

Turbine energy yield (TEY) MWH 100.02 179.50 133.51

Carbon monoxide (CO) mg/m3 0.00 44.10 2.37

Nitrogen oxides (NOx) mg/m3 25.90 119.91 65.29

**Data:** gas_turbines

In [317]:
data= pd.read_csv('gas_turbines.csv')
data

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498

In [318]:
data.isna().sum()

AT      0
AP      0
AH      0
AFDP    0
GTEP    0
TIT     0
TAT     0
TEY     0
CDP     0
CO      0
NOX     0
dtype: int64

In [323]:
X = data.drop(labels=['TEY'], axis=1)
Y = data[["TEY"]]

mms = MinMaxScaler()
scaled_x = mms.fit_transform(X)


X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=19)


model = Sequential([
    Dense(200, activation='relu', input_shape=(11,)),
    Dense(200, activation='relu'),
    Dense(200, activation='relu'),
    Dense(100, activation='relu'),
    Dense(1, activation='sigmoid'),
])

model.compile(optimizer='sgd',
              loss='binary_crossentropy',
              metrics=['accuracy'])

Classifier = model.fit(x_train, y_train,
          batch_size=10, epochs=20,
          validation_data=(x_test,y_test))

Epoch 1/20
42/42 [==============================] - 1s 9ms/step - loss: nan - accuracy: 0.3366 - val_loss: nan - val_accuracy: 0.4904
Epoch 2/20
42/42 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 3/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 4/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 5/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 6/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 7/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 8/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 9/20
42/42 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 10/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 11/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 12/20
42/42 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 13/20
42/42 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 14/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 15/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 16/20
42/42 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 17/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 18/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 19/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904
Epoch 20/20
42/42 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.4746 - val_loss: nan - val_accuracy: 0.4904

In [322]:
model.evaluate(x_test, y_test)[1]

4/4 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.4904

0.49038460850715637